@font-face {
    font-family: BebasNeueBold;
    src: url(font/BebasNeueBold.otf);
}
@font-face {
    font-family: BebasNeueRegular;
    src: url(font/BebasNeueRegular.otf);
}
@font-face {
    font-family: BebasNeueThin;
    src: url(font/BebasNeueThin.otf);
}
@font-face {
    font-family: BebasNeueLight;
    src: url(font/BebasNeueLight.otf);
}