// fonts
@import 'fonts';

// partial imports

@import 'vars';
@import 'typography';
@import 'nav';
@import 'header';
@import 'footer';

@import 'swag';
@import 'swank';
@import 'gists';



// global overwrite the imports below

body{
  //background: url('../images/geometry.png');
  font-size:16px;
  
	h1, h2 {font-family: BebasNeueBold,Arial,sans-serif;}
	h3 {font-family: BebasNeueBold,Arial,sans-serif;}
	h4, h5, h6 {font-family: BebasNeueRegular,Arial,sans-serif;}
	a.btn{background-color: #37bc9b; border:none;color:#fff; font-family: Arial,sans-serif;}
	a.btn:hover{background-color: #f6bb42;color:#fff;}
	strong, p, ul li{line-height: 30px;}
}

.home{
  h1{
    color: yellow; // <-- lol at that fight club color name.
  }
}

main {
	background: none repeat scroll 0 0 #f4f4f4;
	
	.project-intro {border-left: 5px solid #f6bb42; padding:15px;}
	.project-intro i{color:#434a54;}

	#projects .row{
		margin:10px 0;
	}
	#projects a.btn{float:right;}
}

 #contact{
 	font-family: BebasNeueRegular,Arial,sans-serif;
 	text-align: right;
 }













