<!-- <section class="home">
  <h1>Home for days.</h1>
</section>
-->
<div class="container-fluid" >
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
      <a href="pic/pathnetwork_full.png" class="swipebox" title="PaTH Project">
        <!-- <img src="pic/pathnetwork_thumbnail.png" width="100%">  -->
      </a>  
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">        
      <h3>PCORI PaTH Network</h3>
      <a class="btn btn-default" href="http://pathnetwork.org" target="_blank"><span class="glyphicon glyphicon-link"></span> View</a>
      <h4>JAVA, Oracle, Ansible, Javascript</h4>
      <p class="project-intro"><i>“PaTH is patient-empowered research.” PaTH’s mission is to address questions and concerns that matter most to the communities we serve in order to make more informed health decisions. </i></p>
       <ul>
          <li><strong>Teamwork: </strong>Architected an open-source data-sharing tool that integrated 2.5 million patients’ electronic medical records from 4 large health networks</li>
        <li><strong>Initiative:</strong> Identified tedious system configuration as the cause of drawn-out software release process, and introduced Ansible to the development team, decreasing system deployment work by 50%</li>
      </ul>
    </div>
  </div>
</div>